
body {
    display: block;
     padding:5%;
     width: 300px; 
     background-color:linear-gradient(50deg,floralwhite ,transparent );
     height:"auto";
     
}


.divGrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
h5 {
grid-column: 1/4;
grid-row: 1;
font-size: 12px;
font-weight: 500;
color: black;
text-shadow: 1px 1px 1px rebeccapurple;

}
.progress{
    grid-column: 1/4;
    grid-row: 2;
    height: 25px;
    width: 270px;
}
p {

    grid-column: 1/4;
    grid-row: 3;
    font-size: 11px;
    align-self: center;
    justify-self: right;
    margin-bottom:  0%;
    margin-top: 0%;
    color:slategray;
   
 }

 #downloadCSV{
    grid-column: 1;
    grid-row: 4;
    justify-self: normal;
    font-size: 12px;
 

}

.search {
grid-column: 2/5;
grid-row: 4;
font-size: 12px;
margin-left:1%;
justify-self: normal;


}

